<div class="wrapper">

  <!--  CONTAINER POUR LE LOGO ET LE TITRE -->
  <div class="container-header">
    <a href="/" class="logo-container">
      <img src="assets/images/logo.png" alt="Logo Nature & Animaux" class="logo-img">
    </a>
    <a href="/" class="site-title">Nature & Animaux</a>
    <!--  SOUS-TITRE -->
    <p class="site-subtitle">Votre animalerie itinérante</p>
  </div>

  <!--  HEADER PRINCIPAL -->
  <app-header></app-header>

<!--  BARRE DES CATÉGORIES -->
  <app-navbar></app-navbar>


  <!--  STRUCTURE PRINCIPALE -->
  <main class="main-container">
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
