<div class="page-container">
	<div class="page-content">
		<h1 class="page-title">Conditions Générales de Vente</h1>

		<h2>1. Champs d’application</h2>
		<p>Ces conditions générales de vente ( CGV ) s’appliquent à toutes les commandes et à toutes les livraisons, mêmes locales, entre l’entreprise « Nature & Animaux », Coadigou, 29390 Scaër et les clients de la boutique en ligne www.natureetanimaux.fr</p>

		<h2>2. Procédure de commande, conclusion du contrat, limite de quantité</h2>
		<h3>a. Procédure de commande</h3>
		<p>La boutique Nature et Animaux propose à ses clients un choix d'articles destinés aux animaux. Les clients accèdent aux détails concernant le produit comme sa présentation, ses dimensions ou son goût, en cliquant sur les produits ou les désignations d'articles. Lorsque le client sélectionne le nombre d'articles souhaité et clique sur le pictogramme représentant un chariot de supermarché, le produit est placé dans un panier virtuel de commande.

			Lorsqu'il clique sur le bouton "mon panier" dans la boutique en ligne, en haut à droite de l'écran, le client accède à une page récapitulative et peut vérifier et modifier à tout moment les articles qui se trouvent dans son panier virtuel.

			Si le client souhaite terminer ses achats, il peut finaliser ses achats. Les clients déjà enregistrés peuvent entrer ici leur nom d'utilisateur et leur mot de passe afin d'utiliser automatiquement leurs informations sauvegardées pour passer leur commande. Le client peut aussi s'enregistrer en tant que nouveau client et créer un compte-client.

			Après avoir informé ses coordonnées, le client peut procéder au paiement.</p>

		<h3>b. Conclusion du contrat</h3>
		<p>Les photographies des produits sur la boutique en ligne permettent seulement de les visualiser, elles ne sont en aucun cas des offres d'achat fermes. Les photos ne sont pas contractuelles. Le client fait quant à lui, une offre ferme de conclusion d'un contrat de vente dès lors qu'il termine le processus de commande, Le contrat avec nature et animaux n'est conclu que lorsque avec nature et animaux expédie le produit commandé au client et confirme l'expédition au client par courrier électronique (confirmation de commande).</p>

		<h3>c. Limite de quantité</h3>
		<p>La vente des produits proposés ne concerne que des quantités disponibles sur le site de la boutique en ligne et ne s'adresse qu'à des personnes majeures.</p>

		<h2>3. Prix et frais de livraison</h2>
		<h3>a. Prix</h3>
		<p>Tous les prix incluent la TVA légale en vigueur et d'autres éléments du prix ; d'éventuels frais de port sont en sus.</p>

		<h3>b. Frais de livraison</h3>
		<p>Nature & Animaux livre à partir d'un montant de commande minimum de 1 € (hors frais de port). Le montant maximum d'une commande ne peut excéder la somme de 1000 €.

			La livraison est offerte pour toute commande de plus de 15 € dont la livraison est dans un périmètre de 30 kms autour de Scaer ( 29390 ) et dans l’agglomération Lorientaise ( 56100 )

			Pour les livraisons extérieures à ce périmètre, les tarifs sont ceux des prestataires comme Mondial Relay, etc ….

			Selon le poids des articles, des commandes peuvent être envoyées en plusieurs colis avec des frais de port en sus.

			Actuellement les livraisons ne sont effectuées qu’en France Métropolitaine.</p>

		<h2>4. Livraison</h2>
		<p>La plupart des commandes sont expédiés sous 2 à 5 jours en fonction du jour de passation de la commande et sous réserve de paiement. Les colis sont ensuite généralement livrés selon les délais du prestataire. Le délai peut cependant varier en fonction de l'offre.

			Si tous les produits commandés ne sont pas en stock, Nature & Animaux en informe tout de suite son client. Les premiers peuvent être envoyés séparément, si cette mesure est envisageable pour le client.

			Dans le cas où Nature & Animaux ne pourrait pas livrer le produit commandé par le client parce qu’il n’a pas été livré par ses fournisseurs, pour des raisons dont elle ne pourrait être tenue pour responsable ; Nature & Animaux pourrait annuler la commande du client, celui-ci sera immédiatement prévenu et le remboursement sera immédiat.

			Si les articles livrés ont été endommagés pendant le transport, le service-clients de Nature & Animaux doit en être informé dans un délai de 48 h maximum. Sans cette information, aucunes réclamations au transporteur ou à l'assurance-transport ne pourront être effectuées.

			Afin de traiter les commandes le mieux possible et d'informer nos clients de façon optimale sur l'état d'avancement de leur commande, Nature & Animaux transmet l'adresse e-mail aux entreprises chargées du transport et, s'il a été indiqué, le numéro de téléphone des clients, ce qui permet de suivre le colis jusqu’à la livraison en sachant que les entreprises chargées du transport se sont solennellement engagées à protéger les données personnelles et à ne les utiliser qu'en tant qu'informations de transport. Nature & Animaux s’engage à ne pas diffuser ces données dans un cadre différent que celui de la livraison des produits commandés et dans le cadre de communication en lien avec la commande.</p>

		<h2>5. Réserve de propriété</h2>
		<p>Les produits demeurent la propriété de Nature & Animaux jusqu'à leur paiement intégral. Il est interdit de mettre les produits en gage, de les remettre à titre de garantie, de les transformer ou de les modifier avant le transfert de propriété.</p>

		<h2>6. Droit de rétractation</h2>
		<p>Vous disposez d'un délai de 14 jours pour changer d'avis sur votre achat à distance.

			Le droit de rétractation s'applique aussi si le produit est soldé, dans tous les cas, pour une rétractation, vous devez contacter le service client.

			Pour exercer le droit de rétractation, vous devez nous notifier votre décision de rétractation du présent contrat au moyen d'une déclaration le plus clairement possible. Vous pouvez utiliser le modèle de formulaire de rétractation, mais ce n'est pas obligatoire.

			Pour que le délai de rétractation soit respecté, il suffit que vous transmettiez votre demande avant l'expiration du délai de rétractation.

			Exclusion du droit de rétractation
			Tous les produits ouverts ou détériorés sont exclus du droit de rétractation

			Formulaire de rétractation
			Modèle de formulaire de rétractation<br>

			<i>(Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter du contrat)</i><br>

			​
			<div class="adresse">
				<p>À l'attention de Nature & Animaux, Coadigou, 29390 Scaer</p>
				<p>Je/Nous (*) vous notifie/notifions(*) par la présente, ma/notre(*) rétractation du contrat portant sur la vente des biens (*)/pour la prestation de service (*) ci-dessous :</p>
				<p>Commandé le (*)/reçu le (*)</p>
				<p>Nom du/des consommateur(s)</p>
				<p>Adresse du/des consommateur(s)</p>
				<p>Signature du/des consommateur(s) (uniquement en cas de notification du présent formulaire sur papier)</p>
				<p>Date</p>
			</div>
			

			Après réception et vérification des produits par nos équipes, votre paiement vous sera intégralement remboursé.

		<h2>7. Garantie et responsabilité</h2>
		<p>La législation relative à la garantie s'applique.

			Tous les produits vendus sur la boutique doivent être utilisés dans le cadre normal de leur fonction.

			Le vendeur est tenu des défauts de conformité du bien au contrat dans les conditions de l’article L. 211-4 et suivants du Code de la consommation et des défauts cachés de la chose vendue dans les conditions prévues aux articles 1641 et suivants du code civil.

			Lorsque le consommateur agit en garantie légale de conformité

			il bénéficie d’un délai de deux ans à compter de la délivrance du bien pour agir

			peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l’article L. 211-9 du code de la consommation

			est dispensé de rapporter la preuve de l’existence du défaut de conformité du bien durant les six mois suivant la délivrance du bien.

			La garantie légale de conformité s’applique indépendamment de toute garantie commerciale.

			Le consommateur peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue au sens de l’article 1641 du Code civil. Dans cette hypothèse, il peut choisir entre la résolution de la vente ou une réduction du prix de vente conformément à l’article 1644 du code civil.

			Le client peut formuler une demande au titre de la garantie en adressant un courrier à l’adresse suivante :

			<br>
			<div class="adresse">
				<p>Nature et Animaux</p>
				<p>Coadigou</p>
				<p>29390 Scaer</p>
				<p>ou par courrier électronique à
					<a href="mailto:boutique.natureetanimaux&#64;gmail.com">boutique.natureetanimaux&#64;gmail.com</a>
				</p>
			</div>

		<h2>8. Modes de paiement</h2>

			<div class="adresse">
				<p><strong>Coordonnées de notre compte</strong></p>
				<p>Gaubert Yoann</p>
				<p>Nature et Animaux</p>
				<p>Lieu dit Coadigou</p>
				<p>29390 Scaer</p>
				<p>Domiciliation : Crédit Agricole du Finistère</p>
				<p>Code Banque : 12906</p>
				<p>Code Guichet : 00047</p>
				<p>Numéro de compte : 00260134674</p>
				<p>Clé RIB : 83</p>
				<p><strong>IBAN :</strong> FR76 1290 6000 4700 2601 3467 483</p>
				<p><strong>SWIFT (BIC) :</strong> AGRIFRPP829</p>
			</div>

			<h4>a. Modes de paiement</h4><br>
​
			Les produits peuvent être réglés par virement bancaire, carte de crédit ou Paypal. Nature et animaux se réserve le droit d'accepter exclusivement certains types de paiement en fonction de la commande ou du mode de livraison choisis par le client. Il n'est pas possible de payer en envoyant de l'argent liquide ou des chèques.<br>

			​<br>

			<h4>b. Paiement par virement bancaire</h4>

			​<br>

			Le paiement par virement bancaire est possible sur notre compte. Tant que le virement n’est pas arrivé sur notre compte, l’expédition ne sera pas effectuée. Passé un délai de 15 jours, la commande sera définitivement annulée.<br>
				<br>

			<h4>c. Paiement par carte de crédit</h4>
			​
				<p>
				Dans le cas d'un paiement par carte de crédit. Nous acceptons les paiements par carte Visa, MasterCard, et par carte bleue.

				<h2>9. Marketing et communication client</h2>
				<p>Si le client conclut un contrat avec nature et animaux et renseigne son adresse électronique (e-mail), nature et animaux a le droit d'utiliser l'adresse électronique (e-mail) du client à des fins de publipostage pour ses produits et services similaires.

					Le client a le droit de s'opposer à tout moment à une telle utilisation de son adresse électronique (e-mail) en envoyant un courrier faisant part de sa volonté à boutique.natureetanimaux&#64;gmail.fr</p>

				<h2>10. Exploitant de la boutique en ligne</h2>
				<p>La boutique en ligne Nature & Animaux, l’animalerie itinérante est sous l’entité juridique :</p>
				<div class="adresse">
					<p><strong>Gaubert Yoann, Autoentreprise</strong></p>
					<p>RCS Quimper 498 604 743</p>
					<p>Coadigou, 29390 Scaer</p>
					<p>Téléphone : 06 89 35 08 89</p>
				</div>

				<h2>11. Dispositions finales</h2>
				<p>Si une clause des présentes Conditions Générales de Vente devrait être nulle, toutes les autres clauses du contrat restent valables. Nature et animaux s’engage à vous répondre dans un délai le plus court possible dans le cadre de litiges. Toute question sera suivie dans le cadre de notre service client.</p>
	</div>
</div>
