<section class="page-container">
    <div class="page-content">
        <h1 class="page-title">Qui sommes-nous ?</h1>

        <p>
            <strong>Nature & Animaux</strong> est une entreprise spécialisée dans la
            <strong>vente de produits destinés aux animaux domestiques</strong>.
            Forte d’une expérience de plus de dix ans sur les
            marchés, foires et salons animaliers, elle a su développer
            <strong>une expertise reconnue</strong> dans le choix et la distribution d’
            articles adaptés aux besoins des animaux de compagnie.
        </p>
        <br>
        <p>
            Afin de <strong>répondre aux nouvelles attentes des consommateurs</strong>
            et d’élargir son rayon de vente, <strong>Nature & Animaux</strong>
            a adopté un modèle de distribution basé sur la vente en ligne,
            accompagné d’un service de livraison efficace.
            Cette transition digitale permet aux clients
            d’accéder facilement à une sélection de produits de qualité
            pour le bien-être de leurs compagnons, tout en bénéficiant d’
            une expérience d’achat simplifiée et intuitive.
        </p>
        <br>
        <p>
            Dans sa <strong>volonté d’expansion</strong>, l’entreprise a structuré son
            développement commercial en s’appuyant sur deux Vendeurs à Domicile
            Indépendants (VDI), l’un basé à <strong>Lorient</strong>,
            l’autre à <strong>Rennes</strong>, permettant ainsi
            d’atteindre une clientèle plus large et d’assurer
            une présence accrue sur le territoire.
        </p>
        <br>
        <p>
            Dernière <strong>évolution majeure</strong>, en 2024,
            <strong>Nature & Animaux</strong> a ouvert <strong>un dépôt au siège social de
            l’entreprise</strong>, marquant <strong>une nouvelle étape</strong> dans
            son développement logistique et commercial.
        </p>
        <br>
        <p>
            Grâce à son <strong>engagement pour la satisfaction client</strong>, son
            service réactif et personnalisé, et son
            <strong>expertise du secteur animalier</strong>, <strong>Nature & Animaux</strong>
            ambitionne de devenir <strong>une référence incontournable</strong> dans la
            <strong>vente en ligne d’accessoires et d’alimentation</strong> pour
            animaux domestiques.
        </p>
        <div class="contact-button-container">
            <button class="contact-button" (click)="redirectToSupport()">Nous Contacter</button>
        </div>
    </div>
</section>
