<section class="page-container">
    <div class="page-content">
        <h1 class="page-title">Qui sommes-nous ?</h1>
        <p>
            Bienvenue chez <strong>Nature & Animaux</strong> ! Nous sommes une boutique spécialisée dans la vente
            d’articles pour vos compagnons à quatre pattes. Nous nous engageons à offrir des produits
            <strong>de qualité</strong> pour assurer le bien-être de vos animaux.
        </p>
        <p>
            Nous livrons <strong>gratuitement</strong> en local sur
            <em>Concarneau, Rosporden, Scäer, Quimperlé et Lorient</em>.
        </p>
        <button class="contact-button">Nous Contacter</button>
    </div>
</section>
