.footer {
	background: #8BC34A;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 50px;
  }

  .footer ul {
	list-style: none;
	padding: 0;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	gap: 20px;
  }

  .footer li {
	display: inline;
  }

  .footer a {
	color: white;
	text-decoration: none;
	font-weight: bold;
  }

  .footer a:hover {
	text-decoration: underline;
  }
